---
import H2 from "./H2.astro"

import { contentfulClient } from "../lib/contentful"

import { documentToHtmlString } from "@contentful/rich-text-html-renderer"
import type { EntryFieldTypes } from "contentful"

interface Project {
  contentTypeId: "experience"
  fields: {
    description: EntryFieldTypes.RichText
  }
}

const entries = await contentfulClient.getEntries<Project>({
  content_type: "experience",
})
---

<section
  class="flex max-w-xl animate-fade-up flex-col items-start gap-4"
  style={{ animationDelay: "0.40s", animationFillMode: "both" }}
>
  <H2>Experience</H2>
  {
    entries.items.map((item) => (
      <p set:html={documentToHtmlString(item.fields.description)} />
    ))
  }
</section>
