---

---

<header class="w-full">
  <div class="container flex max-w-5xl items-center justify-center py-6">
    <p class="text-sm text-foreground/75">&copy; 2024. All rights reserved.</p>
  </div>
</header>
