---
import { Image } from "astro:assets"
import Github from "./Github.astro"
import Linkedin from "./Linkedin.astro"
import Facebook from "./Facebook.astro"
---

<header
  class="w-full animate-fade-up"
  style={{ animationDelay: "0.10s", animationFillMode: "both" }}
>
  <div class="container flex max-w-5xl items-center justify-between py-6">
    <Image
      src="/olajideabdullateef/favicon.png"
      alt="Profile Image"
      width={40}
      height={40}
      quality="max"
      format="png"
    />

    <nav class="flex items-center gap-4">
      <Github />
      <Linkedin />
      <Facebook />
    </nav>
  </div>
</header>
