---
import { Image } from "astro:assets"

import Github from "./Github.astro"
import Linkedin from "./Linkedin.astro"
import Facebook from "./Facebook.astro"
import Twitter from "./Twitter.astro"
---

<header
  class="w-full animate-fade-up"
  style={{ animationDelay: "0.10s", animationFillMode: "both" }}
>
  <div class="container flex max-w-5xl items-center justify-end py-6">
    <nav class="flex items-center gap-4">
      <Github />
      <Linkedin />
      <Facebook />
      <Twitter />
    </nav>
  </div>
</header>
