---
import Github from "../assets/Github.astro"
import Linkedin from "../assets/Linkedin.astro"
import Facebook from "../assets/Facebook.astro"
import Twitter from "../assets/Twitter.astro"
import Gmail from "../assets/Gmail.astro"
import Whatsapp from "../assets/Whatsapp.astro"
---

<header
  class="w-full animate-fade-up"
  style={{ animationDelay: "0.10s", animationFillMode: "both" }}
>
  <div class="container flex items-center justify-center py-6">
    <nav class="flex items-center gap-4">
      <Github />
      <Linkedin />
      <Facebook />
      <Twitter />
      <Gmail />
      <Whatsapp />
    </nav>
  </div>
</header>
